/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

// For unknown reason, it cannot be in the component CSS
.map-div-icon {
  background-color:#FFFFFF99;
  font-size: 36px;
}
